$primary_color: #dd131a;
$text-color: rgb(77, 77, 77);
$font-primary: "Poppins", sans-serif;
$font-secondary: "Ramaraja", serif;

* {
  box-sizing: border-box;
}

.App {
  overflow: hidden !important;
}
.menu {
  background-color: #fff;
}
.stellarnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stellarnav li a {
  font-family: "Ramaraja", serif !important;
  font-size: 20px;
}

.menu_icon a {
  margin-left: 10px;
  font-size: 18px;
}
.menu_icon svg:hover {
  color: rgb(255, 61, 61);
}
.count_Cart {
  position: relative;
}
.count_zone {
  background: rgb(255, 61, 61);
  border-radius: 50%;
  left: 14px;
  padding: 0px 9px;
  position: absolute;
  line-height: normal;
  font-size: 14px;
}

.rec-arrow-left,
.rec-arrow-right {
  display: none;
}
.fPDpuU {
  margin: 0px !important;
}
.slider_item .text {
  top: 140px;
  right: 150px;
}
.hard_Text {
  font-size: 40px;
  font-weight: 600;
}

.Hero_Image {
  margin-top: 150px;
}
.Hero_Image img {
  max-height: 400px;
  z-index: 9;
}
.Hero_Image .TiChartPie {
  font-size: 80px;
  animation: TiChartPie 2s linear 2s infinite alternate;
  position: absolute;
  right: 125px;
  color: $primary_color;
  z-index: -1;
}

@keyframes TiChartPie {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.Hero_Image .row,
.Hero_Image .col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.Hero_Image .wrap h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: $primary_color;
}
.Hero_Image .wrap h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.Hero_Image .wrap > p {
  font-size: 14px;
  color: $text-color;
}

.Hero_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Hero_Card .wrap {
  border: 1px solid #ddd;
  padding: 25px 30px;
  border-radius: 10px;
  transition: all 0.5s linear;
}
.Hero_Card .wrap h2 {
  font-size: 20px;

  margin-bottom: 15px;
}
.Hero_Card .wrap p {
  font-size: 14px;
  color: $text-color;
}
.Hero_Card .wrap .icon {
  font-size: 60px;
  margin-bottom: 5px;
  color: $primary_color;
}
.Hero_Card .wrap:hover {
  background: $primary_color;
  box-shadow: 6px 6px 20px #c7c7c7, -6px -6px 20px #f9f9f9;
  transform: translateY(-15px);
}
.Hero_Card .wrap:hover h2,
.Hero_Card .wrap:hover p,
.Hero_Card .wrap:hover .icon {
  color: #fff;
}

.Shop_Image_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Shop_Image_Card .img {
  overflow: hidden;
}
.Shop_Image_Card .wrap .headText_1 {
  font-size: 25px;
  font-weight: normal;
  color: $text-color;
  margin-top: 20px;
  font-family: $font-secondary;
}
.Shop_Image_Card .wrap img {
  transition: all 0.3s linear;
}
.Shop_Image_Card .wrap:hover img {
  transform: scale(110%);
}
.Shop_Image_Card .wrap .headText_2 {
  font-size: 35px;
  font-weight: normal;
}
.Shop_Image_Card .wrap .my_button {
  font-size: 20px;
  color: $text-color;
  padding-top: 20px;
  position: relative;
}
.Shop_Image_Card .wrap .my_button::after {
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: $primary_color;
  left: 0px;
  bottom: 0;
}
.Shop_Image_Card .wrap .my_button:hover::after {
  width: 88px;
}

.Logo_Marquee {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Logo_Marquee img {
  margin: 0 20px;
}

.New_Peoduct {
  margin-top: 100px;
  margin-bottom: 100px;
}
.New_Peoduct .wrap > h2 {
  font-family: $font-secondary;
  font-size: 50px;
  position: relative;
  display: inline;
}
.New_Peoduct .wrap > h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: $primary_color;
  position: absolute;
  bottom: 13px;
  left: 0px;
}

.New_Peoduct .dot_point .dot_color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.New_Peoduct .starIcon svg {
  margin-right: 5px;
  color: #ffb400;
}
.New_Peoduct .dot_point .dot_color.red {
  background: #dd131a;
}
.New_Peoduct .dot_point .dot_color.green {
  background: #09ff00;
}
.New_Peoduct .dot_point .dot_color.black {
  background: #292929;
}
.New_Peoduct .image {
  overflow: hidden;
  position: relative;
}
.New_Peoduct .img_overflow {
  transform: translateX(-500px);
  position: absolute;
  transition: all 0.4s linear;
  top: 0;
  left: 0;
  opacity: 0;
}
.New_Peoduct .wrap:hover .img_overflow {
  transform: translateX(0px);
  opacity: 1;
}
.New_Peoduct .text {
  position: absolute;
  top: 10px;
  z-index: 9;
  left: 10px;
  padding: 0px 21px;
  background: $primary_color;
  color: #fff;
  transition: all 0.3s linear;
  font-size: 12px;
}
.New_Peoduct .text::before {
  content: "";
  position: absolute;
  border: 9px solid $primary_color;
  border-color: transparent transparent transparent $primary_color;
  top: 15px;
}
.New_Peoduct .shape {
  position: absolute;
  top: 10px;
  z-index: 9;
  right: 10px;
  padding: 3px;
  background: #262626;
  color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
}
.New_Peoduct .wrap:hover .shape {
  opacity: 1;
}
.New_Peoduct .iconPart {
  display: grid;
  position: absolute;
  top: 60px;
  z-index: 9;
  right: 0;
  margin: 10px;
  overflow: hidden;
}
.New_Peoduct .iconPart svg {
  font-size: 38px;
  background: #fff;
  color: $primary_color;
  margin-bottom: 10px;
  padding: 8px;
}
.New_Peoduct .heading_text {
  font-size: 20px;
  color: #1a133b;
  font-family: $font-secondary;
}
.New_Peoduct .heading_text:hover {
  color: $primary_color;
}

.New_Peoduct .iconPart a:nth-last-child(4),
.New_Peoduct .iconPart a:nth-last-child(3),
.New_Peoduct .iconPart a:nth-last-child(2),
.New_Peoduct .iconPart a:nth-last-child(1) {
  transform: translateX(50px);
  transition: all 0.2s linear;
}

.New_Peoduct .iconPart a:nth-last-child(4) {
  transition-delay: 0.15s;
}
.New_Peoduct .iconPart a:nth-last-child(3) {
  transition-delay: 0.25s;
}
.New_Peoduct .iconPart a:nth-last-child(2) {
  transition-delay: 0.35s;
}
.New_Peoduct .iconPart a:nth-last-child(1) {
  transition-delay: 0.45s;
}

.New_Peoduct .wrap:hover .iconPart a:nth-last-child(4),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(3),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(2),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(1) {
  transform: translateX(0px);
}

.Intro {
  margin-bottom: 100px;
}
.Intro .part_1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.Intro .part_1 h2 {
  font-size: 44px;
  line-height: 54px;
}
.Intro .part_1 p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 11px;
  color: $text-color;
}
.Intro .part_2 .wrap {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.Intro .part_2 .wrap.bg-color {
  background: #f2f6fae1;
}

.Intro .part_2 .wrap:hover {
  box-shadow: 0px 40px 40px 0px rgba(14, 17, 51, 0.1);
}
.Intro .part_2 .wrap h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.Intro .part_2 .wrap p {
  font-size: 14px;
  margin-bottom: 20px;
  color: $text-color;
}
.Intro .part_2 .wrap a {
  font-size: 20px;
  color: $text-color;
}
.Intro .wrap .my_button {
  position: relative;
}
.Intro .wrap .my_button::after {
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: $primary_color;
  left: 0px;
  bottom: 0;
}
.Intro .wrap .my_button:hover::after {
  width: 82px;
}
.Intro .icon {
  font-size: 80px;
  margin-bottom: 10px;
  color: $primary_color;
}

.InvestBord {
  margin-top: 150px;
}
.InvestBord .part_2 {
  padding-left: 50px;
}
.InvestBord .part_2 .wrap > h2 {
  margin-top: 54px;
  margin-bottom: 15px;
  font-size: 40px;
}
.InvestBord .part_2 .wrap > p {
  font-size: 15px;
  color: $text-color;
  margin-bottom: 10px;
}
.InvestBord .part_2 .wrap {
  font-size: 55px;
}
.InvestBord .part_2 .counting > div {
  margin-right: 40px;
}
.InvestBord .part_2 .counting > div h2 {
  font-size: 40px;
}
.InvestBord .part_2 li {
  margin-bottom: 10px;
}

.Testimonial {
  background: #f4f7fb;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 100px 0;
}
.Testimonial .part_1 h2 {
  font-size: 40px;
}
.Testimonial .part_1 p {
  font-size: 15px;
  padding: 10px 300px;
}
.Testimonial .part_2 {
  margin-top: 60px;
}
.Testimonial .FaQuoteLeft {
  font-size: 70px;
  color: #ddd;
}
.Testimonial .part_2 .wrap p {
  font-size: 15px;
  color: $text-color;
  line-height: 30px;
  text-align: justify;
}
.Testimonial .rec-item-wrapper {
  padding: 0 20px !important;
}
.Testimonial .name {
  font-size: 20px;
  color: $primary_color;
}
.Testimonial .part_2 .imgBar img {
  width: 50px;
  border-radius: 50%;
}
.Contact_Bar {
  background: $primary_color;
  padding: 80px 0;
}
.Contact_Bar h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

// Page info

.PageName {
  background-image: url(/src/Assets/img/page-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
 padding: 80px 0;


  span,
  a {
   font-size: 25px;
   font-family: $font-primary !important;
   font-weight: 700;
   color: $text-color;
   &:hover{
       color: $primary_color;
   }
  }

 
}

// Shop_Page_products

.Shop_Page_products{
  .part_1{
    // margin-top: 100px;
    h2{
      font-size: 25px;
      font-weight: 700;
      position: relative;
      &::after{
        content: '';
        width: 100%;
        height: 3px;
        background: $primary_color;
        position: absolute;
        left: 0;
        bottom: -8px;
      }
    }
    .listCategories{
      margin-top: 30px;
      li{
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
      }
      a{
        font-size: 15px;
        font-weight: 600;
        color: $text-color;
        font-family: $font-primary !important;
        &:hover{
          color: $primary_color;
        }
      }
    }
    
  }
  .part_2{
    .allItem{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
     .wrap{
       padding: 10px;
       margin-bottom: 30px;
     }
    }
  }
}



//   Footer Section
.Footer {
  background: #222222;
  padding: 80px 0;
}
.Footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline;
}
.Footer h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: $primary_color;
  bottom: -5px;
  left: 0;
}
.Footer .text {
  margin-top: 20px;
}
.Footer .text p,
.Footer .text li {
  color: #fff;
  font-size: 13px;
}
.Footer .text .icon {
  font-size: 16px;
  color: $primary_color;
  margin-right: 5px;
}
.footer_Down {
  background: #2c2e2e;
  padding: 18px 0;
  text-align: center;
}
.footer_Down p {
  color: #fff;
}
