* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
p {
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
}

.container {
  max-width: 1200px !important;
}

.App {
  overflow: hidden !important;
}

.menu {
  background-color: #fff;
}

.stellarnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stellarnav li a {
  font-family: "Ramaraja", serif !important;
  font-size: 20px;
}

.menu_icon a {
  margin-left: 10px;
  font-size: 18px;
}

.menu_icon svg:hover {
  color: #ff3d3d;
}

.count_Cart {
  position: relative;
}

.count_zone {
  background: #ff3d3d;
  border-radius: 50%;
  left: 14px;
  padding: 0px 9px;
  position: absolute;
  line-height: normal;
  font-size: 14px;
}

.rec-arrow-left,
.rec-arrow-right {
  display: none;
}

.fPDpuU {
  margin: 0px !important;
}

.slider_item .text {
  top: 140px;
  right: 150px;
}

.hard_Text {
  font-size: 40px;
  font-weight: 600;
}

.Hero_Image {
  margin-top: 150px;
}

.Hero_Image img {
  max-height: 400px;
  z-index: 9;
}

.Hero_Image .TiChartPie {
  font-size: 80px;
  -webkit-animation: TiChartPie 2s linear 2s infinite alternate;
          animation: TiChartPie 2s linear 2s infinite alternate;
  position: absolute;
  right: 125px;
  color: #dd131a;
  z-index: -1;
}

@-webkit-keyframes TiChartPie {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes TiChartPie {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.Hero_Image .row,
.Hero_Image .col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Hero_Image .wrap h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #dd131a;
}

.Hero_Image .wrap h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.Hero_Image .wrap > p {
  font-size: 14px;
  color: #4d4d4d;
}

.Hero_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Hero_Card .wrap {
  border: 1px solid #ddd;
  padding: 25px 30px;
  border-radius: 10px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.Hero_Card .wrap h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.Hero_Card .wrap p {
  font-size: 14px;
  color: #4d4d4d;
}

.Hero_Card .wrap .icon {
  font-size: 60px;
  margin-bottom: 5px;
  color: #dd131a;
}

.Hero_Card .wrap:hover {
  background: #dd131a;
  -webkit-box-shadow: 6px 6px 20px #c7c7c7, -6px -6px 20px #f9f9f9;
          box-shadow: 6px 6px 20px #c7c7c7, -6px -6px 20px #f9f9f9;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.Hero_Card .wrap:hover h2,
.Hero_Card .wrap:hover p,
.Hero_Card .wrap:hover .icon {
  color: #fff;
}

.Shop_Image_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Shop_Image_Card .img {
  overflow: hidden;
}

.Shop_Image_Card .wrap .headText_1 {
  font-size: 25px;
  font-weight: normal;
  color: #4d4d4d;
  margin-top: 20px;
  font-family: "Ramaraja", serif;
}

.Shop_Image_Card .wrap img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Shop_Image_Card .wrap:hover img {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.Shop_Image_Card .wrap .headText_2 {
  font-size: 35px;
  font-weight: normal;
}

.Shop_Image_Card .wrap .my_button {
  font-size: 20px;
  color: #4d4d4d;
  padding-top: 20px;
  position: relative;
}

.Shop_Image_Card .wrap .my_button::after {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: #dd131a;
  left: 0px;
  bottom: 0;
}

.Shop_Image_Card .wrap .my_button:hover::after {
  width: 88px;
}

.Logo_Marquee {
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Logo_Marquee img {
  margin: 0 20px;
}

.New_Peoduct {
  margin-top: 100px;
  margin-bottom: 100px;
}

.New_Peoduct .modelActiveImg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.664);
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  z-index: 999999;
  top: 0;
}

.New_Peoduct .modelActiveImg.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.New_Peoduct .GoEyeClosed {
  cursor: pointer;
  position: absolute;
  right: 57px;
  top: 50px;
  font-size: 40px;
  color: #fff;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.New_Peoduct .GoEyeClosed:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #dd131a;
}

.New_Peoduct .wrap > h2 {
  font-family: "Ramaraja", serif;
  font-size: 50px;
  position: relative;
  display: inline;
}

.New_Peoduct .wrap > h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  position: absolute;
  bottom: 13px;
  left: 0px;
}

.New_Peoduct .dot_point .dot_color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.New_Peoduct .starIcon svg {
  margin-right: 5px;
  color: #ffb400;
}

.New_Peoduct .dot_point .dot_color.red {
  background: #dd131a;
}

.New_Peoduct .dot_point .dot_color.green {
  background: #09ff00;
}

.New_Peoduct .dot_point .dot_color.black {
  background: #292929;
}

.New_Peoduct .image {
  overflow: hidden;
  position: relative;
}

.New_Peoduct .img_overflow {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  position: absolute;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  top: 0;
  left: 0;
  opacity: 0;
}

.New_Peoduct .wrap:hover .img_overflow {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.New_Peoduct .text {
  position: absolute;
  top: 10px;
  z-index: 9;
  left: 10px;
  padding: 0px 21px;
  background: #dd131a;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 12px;
}

.New_Peoduct .text::before {
  content: "";
  position: absolute;
  border: 9px solid #dd131a;
  border-color: transparent transparent transparent #dd131a;
  top: 15px;
}

.New_Peoduct .shape {
  position: absolute;
  top: 10px;
  z-index: 9;
  right: 10px;
  padding: 3px;
  background: #262626;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.New_Peoduct .wrap:hover .shape {
  opacity: 1;
}

.New_Peoduct .iconPart {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 60px;
  z-index: 9;
  right: 0;
  margin: 10px;
  overflow: hidden;
}

.New_Peoduct .iconPart svg {
  font-size: 38px;
  background: #fff;
  color: #dd131a;
  margin-bottom: 10px;
  padding: 8px;
}

.New_Peoduct .heading_text {
  font-size: 20px;
  color: #1a133b;
  font-family: "Ramaraja", serif;
}

.New_Peoduct .heading_text:hover {
  color: #dd131a;
}

.New_Peoduct .iconPart a:nth-last-child(4),
.New_Peoduct .iconPart a:nth-last-child(3),
.New_Peoduct .iconPart a:nth-last-child(2),
.New_Peoduct .iconPart a:nth-last-child(1) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.New_Peoduct .iconPart a:nth-last-child(4) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.New_Peoduct .iconPart a:nth-last-child(3) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.New_Peoduct .iconPart a:nth-last-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.New_Peoduct .iconPart a:nth-last-child(1) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.New_Peoduct .wrap:hover .iconPart a:nth-last-child(4),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(3),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(2),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(1) {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.Intro {
  margin-bottom: 100px;
}

.Intro .part_1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.Intro .part_1 h2 {
  font-size: 44px;
  line-height: 54px;
}

.Intro .part_1 p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 11px;
  color: #4d4d4d;
}

.Intro .part_2 .wrap {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.Intro .part_2 .wrap.bg-color {
  background: #f2f6fae1;
}

.Intro .part_2 .wrap:hover {
  -webkit-box-shadow: 0px 40px 40px 0px rgba(14, 17, 51, 0.1);
          box-shadow: 0px 40px 40px 0px rgba(14, 17, 51, 0.1);
}

.Intro .part_2 .wrap h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Intro .part_2 .wrap p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #4d4d4d;
}

.Intro .part_2 .wrap a {
  font-size: 20px;
  color: #4d4d4d;
}

.Intro .wrap .my_button {
  position: relative;
}

.Intro .wrap .my_button::after {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: #dd131a;
  left: 0px;
  bottom: 0;
}

.Intro .wrap .my_button:hover::after {
  width: 82px;
}

.Intro .icon {
  font-size: 80px;
  margin-bottom: 10px;
  color: #dd131a;
}

.InvestBord {
  margin-top: 150px;
}

.InvestBord .part_2 {
  padding-left: 50px;
}

.InvestBord .part_2 .wrap > h2 {
  margin-top: 54px;
  margin-bottom: 15px;
  font-size: 40px;
}

.InvestBord .part_2 .wrap > p {
  font-size: 15px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.InvestBord .part_2 .wrap {
  font-size: 55px;
}

.InvestBord .part_2 .counting > div {
  margin-right: 40px;
}

.InvestBord .part_2 .counting > div h2 {
  font-size: 40px;
}

.InvestBord .part_2 li {
  margin-bottom: 10px;
}

.Testimonial {
  background: #f4f7fb;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 100px 0;
}

.Testimonial .part_1 h2 {
  font-size: 40px;
}

.Testimonial .part_1 p {
  font-size: 15px;
  padding: 10px 300px;
}

.Testimonial .part_2 {
  margin-top: 60px;
}

.Testimonial .FaQuoteLeft {
  font-size: 70px;
  color: #ddd;
}

.Testimonial .part_2 .wrap p {
  font-size: 15px;
  color: #4d4d4d;
  line-height: 30px;
  text-align: justify;
}

.Testimonial .rec-item-wrapper {
  padding: 0 20px !important;
}

.Testimonial .name {
  font-size: 20px;
  color: #dd131a;
}

.Testimonial .part_2 .imgBar img {
  width: 50px;
  border-radius: 50%;
}

.Contact_Bar {
  background: #dd131a;
  padding: 80px 0;
}

.Contact_Bar h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.PageName {
  background-image: url(/src/Assets/img/page-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
}

.PageName span,
.PageName a {
  font-size: 25px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  color: #4d4d4d;
}

.PageName span:hover,
.PageName a:hover {
  color: #dd131a;
}

.Shop_Page_products .part_1 h2 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.Shop_Page_products .part_1 h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.Shop_Page_products .part_1 .listCategories {
  margin-top: 30px;
}

.Shop_Page_products .part_1 .listCategories li {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}

.Shop_Page_products .part_1 .listCategories a {
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif !important;
}

.Shop_Page_products .part_1 .listCategories a:hover {
  color: #dd131a;
}

.Shop_Page_products .part_1 .filter {
  margin-top: 50px;
}

.Shop_Page_products .part_1 .filter h3 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.Shop_Page_products .part_1 .filter h3::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.Shop_Page_products .part_1 .filter .items {
  margin-top: 30px;
}

.Shop_Page_products .part_1 .filter .items li {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}

.Shop_Page_products .part_1 .filter .items a {
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif !important;
}

.Shop_Page_products .part_1 .filter .items a:hover {
  color: #dd131a;
}

.Shop_Page_products .part_1 .Product_Tags .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Shop_Page_products .part_1 .Product_Tags .items a {
  font-size: 14px;
  padding: 5px;
  margin: 3px;
  background: #f3f3f3;
  text-align: center;
}

.Shop_Page_products .part_1 .Product_Tags .items a:hover {
  color: #dd131a;
}

.Shop_Page_products .part_1 .top_rated_products .item {
  margin-bottom: 20px;
}

.Shop_Page_products .part_1 .top_rated_products .item .img {
  width: 100px;
  height: auto;
}

.Shop_Page_products .part_1 .top_rated_products .item .textitem {
  margin-left: 15px;
}

.Shop_Page_products .part_1 .top_rated_products .item .textitem a {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Shop_Page_products .part_2 .ShortItems {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Shop_Page_products .part_2 .ShortItems p {
  font-size: 16px;
  color: #4d4d4d;
}

.Shop_Page_products .part_2 .dropdown .btn-primary {
  color: #4d4d4d;
  background-color: #fff;
  border: 1px solid #ddd;
}

.Shop_Page_products .part_2 .dropdown .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.05rem rgba(119, 119, 119, 0.5);
          box-shadow: 0 0 0 0.05rem rgba(119, 119, 119, 0.5);
}

.Shop_Page_products .part_2 .allItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.Shop_Page_products .part_2 .allItem .wrap {
  padding: 10px;
  margin-bottom: 30px;
}

.Shop_Page_products .part_2 .iconPart {
  top: 40px;
}

.Shop_Page_products .paginationData {
  margin-top: 80px;
  text-align: center;
}

.Shop_Page_products .paginationData a {
  font-size: 18px;
  background: #dd131a;
  margin: 0 5px;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #dd131a;
}

.Shop_Page_products .paginationData a:hover {
  background: #fff;
  color: #4d4d4d;
}

.Cart_Product {
  margin-top: 50px;
}

.Cart_Product table {
  min-width: 100%;
}

.Cart_Product table .ProductName,
.Cart_Product table .Price,
.Cart_Product table .Quantity,
.Cart_Product table .Subtotal,
.Cart_Product table .hide_me {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0;
}

.Cart_Product .cart-header {
  background: #fff;
  border: 1px solid #ddd;
}

.Cart_Product .cart-header th {
  padding: 20px 30px;
}

.Cart_Product .classBody {
  background: #fff;
  border: 1px solid #ddd;
}

.Cart_Product .classBody .thumb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cart_Product .classBody .thumb-box img {
  width: 100px;
}

.Cart_Product .classBody td {
  padding: 20px 30px;
}

.Cart_Product .classBody td h5 {
  font-size: 16px;
  margin-left: 10px;
}

.Cart_Product .classBody td .qtyValue {
  padding: 10px;
  width: 70px;
  text-align: center;
  border: 1px solid #ddd;
}

.Cart_Product .classBody td .increaseQty .icon,
.Cart_Product .classBody td .decreaseQty .icon {
  font-size: 30px;
  padding: 4px;
  margin: 0 10px;
  cursor: pointer;
}

.Cart_Product .classBody td .increaseQty .icon:hover,
.Cart_Product .classBody td .decreaseQty .icon:hover {
  color: #dd131a;
}

.Cart_CouponCode {
  margin-top: 80px;
  margin-bottom: 100px;
}

.Cart_CouponCode .part_1 input {
  padding: 15px;
}

.Cart_CouponCode .part_2 {
  margin-top: 15px;
  text-align: end;
}

.Cart_CouponCode .wrapCartTotal {
  margin-top: 80px;
}

.Cart_CouponCode .wrapCartTotal h2 {
  font-size: 25px;
  font-weight: 600;
}

.Cart_CouponCode .wrapCartTotal table {
  margin-top: 30px;
  width: 100%;
}

.Cart_CouponCode .wrapCartTotal table tr {
  border: 1px solid #ddd;
}

.Cart_CouponCode .wrapCartTotal table th {
  padding: 25px;
  font-size: 14px;
  font-weight: normal;
}

.Cart_CouponCode .wrapCartTotal table th .form-check {
  padding-bottom: 20px;
  font-weight: 600;
}

.Cart_CouponCode .wrapCartTotal table th .form-check-input:checked {
  background-color: #dd131a;
  border-color: #dd131a;
}

.Cart_CouponCode .wrapCartTotal table th .text {
  font-size: 14px;
  margin-bottom: 10px;
}

.Cart_CouponCode .wrapCartTotal table th .shipText {
  font-weight: 600;
}

.Cart_CouponCode .wrapCheckOut {
  margin-top: 80px;
}

.Cart_CouponCode .wrapCheckOut h2 {
  font-size: 25px;
  font-weight: 600;
}

.Cart_CouponCode .wrapCheckOut .wrap {
  margin-top: 30px;
  border: 1px solid #ddd;
  padding: 20px;
}

.Cart_CouponCode .wrapCheckOut .wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.Cart_CouponCode .wrapCheckOut .wrap li .totalPrice {
  font-size: 20px;
  font-weight: 600;
  color: #dd131a;
}

.Cart_CouponCode .wrapCheckOut .wrap hr {
  color: #b1b1b1;
}

.AboutPageData .CompanyInfo {
  padding: 70px 0;
  background: #f6f6f6;
  margin-top: 100px;
  margin-bottom: 100px;
}

.AboutPageData .CompanyInfo .part_1 .imgFile {
  overflow: hidden;
}

.AboutPageData .CompanyInfo .part_1 .imgFile .img {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.AboutPageData .CompanyInfo .part_1 .imgFile .img::after {
  background: rgba(26, 26, 26, 0.466);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.AboutPageData .CompanyInfo .part_1 .imgFile .img:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.AboutPageData .CompanyInfo .part_1 .imgFile .img:hover::after {
  background: rgba(26, 26, 26, 0);
}

.AboutPageData .CompanyInfo .part_2 {
  margin-top: 20px;
}

.AboutPageData .CompanyInfo .part_2 .wrap {
  padding: 0 50px;
}

.AboutPageData .CompanyInfo .part_2 .wrap h2 {
  font-size: 30px;
  font-weight: 600;
  color: #dd131a;
  display: inline;
  position: relative;
}

.AboutPageData .CompanyInfo .part_2 .wrap h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  bottom: -10px;
  left: 0;
  position: absolute;
}

.AboutPageData .CompanyInfo .part_2 .wrap h1 {
  margin-top: 35px;
  font-family: "Ramaraja", serif;
  font-size: 50px;
}

.AboutPageData .CompanyInfo .part_2 .list {
  margin-top: 20px;
}

.AboutPageData .CompanyInfo .part_2 .list p {
  padding: 5px 0;
}

.AboutPageData .CompanyInfo .part_2 .BsArrowRightCircleFill {
  color: #dd131a;
  font-size: 20px;
  margin-right: 10px;
}

.AboutPageData .mission {
  background: #222222;
  padding: 120px 0;
}

.AboutPageData .mission .part_1 {
  margin-top: 25px;
}

.AboutPageData .mission .part_1 h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline;
  position: relative;
}

.AboutPageData .mission .part_1 h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.AboutPageData .mission .part_1 p {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 30px;
}

.AboutPageData .mission .part_2 .wrap {
  text-align: end;
}

.AboutPageData .mission .part_2 .imgFile .img {
  position: relative;
}

.AboutPageData .mission .part_2 .imgFile .img .imgFile_1 {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.AboutPageData .mission .part_2 .imgFile .img .text {
  position: absolute;
  left: 1px;
  top: 200px;
  width: 300px;
  background: #fff;
  padding: 30px 20px;
  text-align: start;
}

.AboutPageData .mission .part_2 .imgFile .img .text h2 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.AboutPageData .mission .part_2 .imgFile .img .text h5 {
  font-size: 20px;
  font-family: "Ramaraja", serif;
  color: #dd131a;
  margin-top: 20px;
}

.AboutPageData .mission .part_2 .imgFile .img .text p {
  margin-top: -5px;
  font-size: 12px;
}

.About_OurTeam {
  margin-top: 100px;
}

.About_OurTeam .part_1 {
  text-align: center;
  padding: 0 200px;
}

.About_OurTeam .part_1 h2 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  display: inline;
}

.About_OurTeam .part_1 h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #dd131a;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.About_OurTeam .part_1 p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}

.About_OurTeam .part_2 {
  margin-top: 100px;
}

.About_OurTeam .part_2 .item {
  text-align: center;
}

.About_OurTeam .part_2 .item .imgFile {
  position: relative;
}

.About_OurTeam .part_2 .item .imgFile img {
  border-radius: 50%;
}

.About_OurTeam .part_2 .item .imgFile .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 99;
  overflow: hidden;
}

.About_OurTeam .part_2 .item .imgFile .icon a {
  color: #fff;
  font-size: 25px;
  top: 30px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding: 5px 3px;
}

.About_OurTeam .part_2 .item .imgFile::after {
  position: absolute;
  background: #22222200;
  content: "";
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.About_OurTeam .part_2 .item .imgFile:hover::after {
  background: #000000c4;
}

.About_OurTeam .part_2 .item .imgFile:hover .icon a:nth-child(1) {
  top: 0px;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.About_OurTeam .part_2 .item .imgFile:hover .icon a:nth-child(2) {
  top: 0px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.About_OurTeam .part_2 .item .imgFile:hover .icon a:nth-child(3) {
  top: 0px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.About_OurTeam .part_2 .item .imgFile:hover .icon a:nth-child(4) {
  top: 0px;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.About_OurTeam .part_2 .item .imgFile:hover a:hover {
  color: #dd131a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.About_OurTeam .part_2 .item h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.About_OurTeam .part_2 .item p {
  font-size: 15px;
  color: #4d4d4d;
  font-weight: 500;
}

.Counter {
  margin-bottom: 100px;
}

.Counter .wrap {
  text-align: center;
}

.Counter .wrap .icon svg {
  font-size: 150px;
  background: #dd131a;
  padding: 40px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 30px;
}

.Counter .wrap .icon svg:hover {
  color: #000;
}

.Counter .wrap h2 {
  font-size: 30px;
  font-weight: 600;
}

.Counter .wrap p {
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
}

.BlogData {
  margin-top: 100px;
}

.BlogData .part_1 .wrap {
  margin-bottom: 60px;
}

.BlogData .part_1 .textBody {
  padding: 20px;
}

.BlogData .part_1 .textBody .dateSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BlogData .part_1 .textBody .dateSection .adminBox,
.BlogData .part_1 .textBody .dateSection .commentSection {
  margin-left: 15px;
}

.BlogData .part_1 .textBody .dateSection .dateData .icon,
.BlogData .part_1 .textBody .dateSection .adminBox .icon,
.BlogData .part_1 .textBody .dateSection .commentSection .icon {
  font-size: 16px;
  margin: 0 5px;
}

.BlogData .part_1 .textBody .dateSection .dateData .icon,
.BlogData .part_1 .textBody .dateSection .adminBox .icon,
.BlogData .part_1 .textBody .dateSection .commentSection .icon {
  font-size: 16px;
  margin: 0 5px;
  color: #dd131a;
}

.BlogData .part_1 .textBody .dateSection .dateData .text,
.BlogData .part_1 .textBody .dateSection .adminBox .text,
.BlogData .part_1 .textBody .dateSection .commentSection .text {
  font-weight: 500;
}

.BlogData .part_1 .textFile {
  margin-top: 20px;
}

.BlogData .part_1 .textFile h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BlogData .part_1 .textFile p {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 35px;
}

.BlogData .part_2 .wrap {
  padding-left: 20px;
}

.BlogData .part_2 .wrap .searchBar input {
  padding: 10px;
  border-radius: 10px;
}

.BlogData .part_2 .wrap .searchBar .input-group-text {
  background: #dd131a;
  cursor: pointer;
}

.BlogData .part_2 .wrap .searchBar .icon {
  color: #fff;
  font-weight: 600;
  border: 1px solid #dd131a;
}

.BlogData .part_2 .wrap .reacentPost h2 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
}

.BlogData .part_2 .wrap .reacentPost .item {
  margin-top: 15px;
}

.BlogData .part_2 .wrap .reacentPost a {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 15px 0;
  font-weight: 500;
  color: #4d4d4d;
}

.BlogData .part_2 .wrap .reacentPost a:hover {
  color: #dd131a;
}

.BlogData .part_2 .wrap .comments {
  margin-top: 60px;
}

.BlogData .part_2 .wrap .comments h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BlogData .part_2 .wrap .comments p,
.BlogData .part_2 .wrap .comments a {
  font-size: 15px;
  margin: 15px 0;
  color: #4d4d4d;
}

.BlogData .part_2 .wrap .comments a,
.BlogData .part_2 .wrap .comments .icon {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #dd131a;
}

.BlogData .part_2 .wrap .archives,
.BlogData .part_2 .wrap .Categories,
.BlogData .part_2 .wrap .Meta {
  margin-top: 60px;
}

.BlogData .part_2 .wrap .archives h2,
.BlogData .part_2 .wrap .Categories h2,
.BlogData .part_2 .wrap .Meta h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BlogData .part_2 .wrap .archives li,
.BlogData .part_2 .wrap .Categories li,
.BlogData .part_2 .wrap .Meta li {
  font-size: 15px;
  margin: 20px 0;
}

.BlogData .part_2 .wrap .archives a,
.BlogData .part_2 .wrap .Categories a,
.BlogData .part_2 .wrap .Meta a {
  color: #4d4d4d;
}

.BlogData .part_2 .wrap .archives a:hover,
.BlogData .part_2 .wrap .Categories a:hover,
.BlogData .part_2 .wrap .Meta a:hover {
  color: #dd131a;
}

.BlogData .part_2 .wrap hr {
  height: 2px;
}

.BlogData .pagination {
  margin-bottom: 100px;
}

.BlogData .pagination .wrap li {
  display: inline;
}

.BlogData .pagination .wrap li a {
  padding: 8px 16px;
  background: #dd131a;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #dd131a;
  color: #fff;
}

.BlogData .pagination .wrap li a:hover {
  background: transparent;
  color: #000;
}

.BlogData .pagination .wrap li .active {
  background: transparent;
  color: #000;
}

.SingleBlogData {
  margin-top: 100px;
}

.SingleBlogData .part_1 h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}

.SingleBlogData .part_1 h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
}

.SingleBlogData .CommentSection {
  margin-bottom: 150px;
  padding: 0 10px;
}

.SingleBlogData .CommentSection .next_Prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SingleBlogData .CommentSection .next_Prev .icon {
  font-size: 16px;
}

.SingleBlogData .CommentSection .next_Prev a,
.SingleBlogData .CommentSection .next_Prev .icon {
  color: #4d4d4d;
  font-weight: 700;
}

.SingleBlogData .CommentSection .next_Prev .next:hover a,
.SingleBlogData .CommentSection .next_Prev .next:hover .icon,
.SingleBlogData .CommentSection .next_Prev .prev:hover a,
.SingleBlogData .CommentSection .next_Prev .prev:hover .icon {
  color: #dd131a;
}

.SingleBlogData .topReply {
  margin-top: 20px;
}

.SingleBlogData .topReply .imgFile img {
  width: 50px;
  border-radius: 50%;
}

.SingleBlogData .topReply .adminBox {
  margin-left: 20px;
}

.SingleBlogData .topReply .adminBox .name {
  font-weight: 600;
}

.SingleBlogData .topReply .replyBar a {
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.SingleBlogData .topReply .text {
  padding: 15px 15px 15px 70px;
  font-size: 15px;
  color: #4d4d4d;
}

.SingleBlogData .adminReply {
  padding: 15px 0px 15px 70px;
}

.SingleBlogData .commentForm {
  margin-top: 40px;
}

.SingleBlogData .commentForm h2 {
  font-size: 20px;
}

.Gallery_Img {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Gallery_Img .model {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.664);
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  z-index: 9999;
  top: 0;
}

.Gallery_Img .model.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Gallery_Img .tumImg {
  cursor: pointer;
  position: relative;
}

.Gallery_Img .tumImg::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.Gallery_Img .tumImg:hover::before {
  background: rgba(0, 0, 0, 0.322);
}

.Gallery_Img .wrap {
  margin-bottom: 30px;
}

.Gallery_Img .icon {
  position: absolute;
  right: 82px;
  top: 28px;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  color: #dd131a;
}

.Gallery_Img .myGrid {
  -webkit-column-count: 3;
          column-count: 3;
}

.FaqData {
  margin-top: 100px;
  margin-bottom: 100px;
}

.FaqData .part_1 {
  margin-bottom: 50px;
}

.FaqData .part_1 h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.FaqData .part_1 p {
  font-size: 16px;
}

.FaqData .part_2 h2 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: inline;
}

.FaqData .part_2 h2::after {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -8px;
  position: absolute;
  background: #dd131a;
}

.FaqData .part_2 .faq_link {
  margin-top: 50px;
}

.FaqData .part_2 .faq_link p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.FaqData .part_2 .faq_link li {
  padding: 4px 0;
}

.FaqData .part_2 .faq_link a {
  font-size: 15px;
}

.FaqData .part_2 .faq_link a:hover {
  color: #dd131a;
}

.FaqData .Accordion {
  margin-top: 100px;
}

.FaqData .Accordion .accBody {
  -webkit-columns: 2;
          columns: 2;
  margin-top: 60px;
}

.FaqData .Accordion .accBody .textFile {
  border: 1px solid #ddd;
  padding: 14px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.FaqData .Accordion .accBody .textFile .toggle_text {
  height: 0px;
  margin-top: 3px;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  position: relative;
  top: 12px;
}

.FaqData .Accordion .accBody .textFile .toggle_text.active {
  height: 105px;
}

.FaqData .Accordion .accBody .textFile .text {
  font-size: 16px;
  font-weight: 600;
}

.FaqData .Accordion .accBody .textFile .icon {
  font-size: 20px;
  color: #dd131a;
  cursor: pointer;
}

.contactForm {
  margin-top: 100px;
  padding-bottom: 50px;
}

.contactForm .part_1 {
  padding-right: 60px;
}

.contactForm .part_1 h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contactForm .part_1 .headText {
  font-weight: 600;
}

.contactForm .part_1 p {
  font-size: 15px;
  margin-top: 10px;
}

.contactForm .part_1 .icon {
  font-size: 18px;
  color: #dd131a;
  margin-right: 5px;
}

.contactForm .part_2 h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contactForm .part_2 .mainContactForm {
  margin-top: 50px;
}

.Footer {
  background: #222222;
  padding: 80px 0;
}

.Footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline;
}

.Footer h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #dd131a;
  bottom: -5px;
  left: 0;
}

.Footer .text {
  margin-top: 20px;
}

.Footer .text p,
.Footer .text li {
  color: #fff;
  font-size: 13px;
}

.Footer .text .icon {
  font-size: 16px;
  color: #dd131a;
  margin-right: 5px;
}

.footer_Down {
  background: #2c2e2e;
  padding: 18px 0;
  text-align: center;
}

.footer_Down p {
  color: #fff;
}
/*# sourceMappingURL=App.css.map */