$primary_color: #dd131a;
$text-color: rgb(77, 77, 77);
$font-primary: "Poppins", sans-serif;
$font-secondary: "Ramaraja", serif;

* {
  box-sizing: border-box;
}
a,p{
  font-family: $font-primary;
  color: $text-color;
}
.container {
  max-width: 1200px !important;
}
.App {
  overflow: hidden !important;
}
.menu {
  background-color: #fff;
}
.stellarnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stellarnav li a {
  font-family: "Ramaraja", serif !important;
  font-size: 20px;
}

.menu_icon a {
  margin-left: 10px;
  font-size: 18px;
}
.menu_icon svg:hover {
  color: rgb(255, 61, 61);
}
.count_Cart {
  position: relative;
}
.count_zone {
  background: rgb(255, 61, 61);
  border-radius: 50%;
  left: 14px;
  padding: 0px 9px;
  position: absolute;
  line-height: normal;
  font-size: 14px;
}

.rec-arrow-left,
.rec-arrow-right {
  display: none;
}
.fPDpuU {
  margin: 0px !important;
}
.slider_item .text {
  top: 140px;
  right: 150px;
}
.hard_Text {
  font-size: 40px;
  font-weight: 600;
}

.Hero_Image {
  margin-top: 150px;
}
.Hero_Image img {
  max-height: 400px;
  z-index: 9;
}
.Hero_Image .TiChartPie {
  font-size: 80px;
  animation: TiChartPie 2s linear 2s infinite alternate;
  position: absolute;
  right: 125px;
  color: $primary_color;
  z-index: -1;
}

@keyframes TiChartPie {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.Hero_Image .row,
.Hero_Image .col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.Hero_Image .wrap h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: $primary_color;
}
.Hero_Image .wrap h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.Hero_Image .wrap > p {
  font-size: 14px;
  color: $text-color;
}

.Hero_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Hero_Card .wrap {
  border: 1px solid #ddd;
  padding: 25px 30px;
  border-radius: 10px;
  transition: all 0.5s linear;
}
.Hero_Card .wrap h2 {
  font-size: 20px;

  margin-bottom: 15px;
}
.Hero_Card .wrap p {
  font-size: 14px;
  color: $text-color;
}
.Hero_Card .wrap .icon {
  font-size: 60px;
  margin-bottom: 5px;
  color: $primary_color;
}
.Hero_Card .wrap:hover {
  background: $primary_color;
  box-shadow: 6px 6px 20px #c7c7c7, -6px -6px 20px #f9f9f9;
  transform: translateY(-15px);
}
.Hero_Card .wrap:hover h2,
.Hero_Card .wrap:hover p,
.Hero_Card .wrap:hover .icon {
  color: #fff;
}

.Shop_Image_Card {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Shop_Image_Card .img {
  overflow: hidden;
}
.Shop_Image_Card .wrap .headText_1 {
  font-size: 25px;
  font-weight: normal;
  color: $text-color;
  margin-top: 20px;
  font-family: $font-secondary;
}
.Shop_Image_Card .wrap img {
  transition: all 0.3s linear;
}
.Shop_Image_Card .wrap:hover img {
  transform: scale(110%);
}
.Shop_Image_Card .wrap .headText_2 {
  font-size: 35px;
  font-weight: normal;
}
.Shop_Image_Card .wrap .my_button {
  font-size: 20px;
  color: $text-color;
  padding-top: 20px;
  position: relative;
}
.Shop_Image_Card .wrap .my_button::after {
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: $primary_color;
  left: 0px;
  bottom: 0;
}
.Shop_Image_Card .wrap .my_button:hover::after {
  width: 88px;
}

.Logo_Marquee {
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Logo_Marquee img {
  margin: 0 20px;
}

.New_Peoduct {
  margin-top: 100px;
  margin-bottom: 100px;
}
.New_Peoduct .wrap > h2 {
  font-family: $font-secondary;
  font-size: 50px;
  position: relative;
  display: inline;
}
.New_Peoduct .wrap > h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background: $primary_color;
  position: absolute;
  bottom: 13px;
  left: 0px;
}

.New_Peoduct .dot_point .dot_color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.New_Peoduct .starIcon svg {
  margin-right: 5px;
  color: #ffb400;
}
.New_Peoduct .dot_point .dot_color.red {
  background: #dd131a;
}
.New_Peoduct .dot_point .dot_color.green {
  background: #09ff00;
}
.New_Peoduct .dot_point .dot_color.black {
  background: #292929;
}
.New_Peoduct .image {
  overflow: hidden;
  position: relative;
}
.New_Peoduct .img_overflow {
  transform: translateX(-500px);
  position: absolute;
  transition: all 0.4s linear;
  top: 0;
  left: 0;
  opacity: 0;
}
.New_Peoduct .wrap:hover .img_overflow {
  transform: translateX(0px);
  opacity: 1;
}
.New_Peoduct .text {
  position: absolute;
  top: 10px;
  z-index: 9;
  left: 10px;
  padding: 0px 21px;
  background: $primary_color;
  color: #fff;
  transition: all 0.3s linear;
  font-size: 12px;
}
.New_Peoduct .text::before {
  content: "";
  position: absolute;
  border: 9px solid $primary_color;
  border-color: transparent transparent transparent $primary_color;
  top: 15px;
}
.New_Peoduct .shape {
  position: absolute;
  top: 10px;
  z-index: 9;
  right: 10px;
  padding: 3px;
  background: #262626;
  color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
}
.New_Peoduct .wrap:hover .shape {
  opacity: 1;
}
.New_Peoduct .iconPart {
  display: grid;
  position: absolute;
  top: 60px;
  z-index: 9;
  right: 0;
  margin: 10px;
  overflow: hidden;
}
.New_Peoduct .iconPart svg {
  font-size: 38px;
  background: #fff;
  color: $primary_color;
  margin-bottom: 10px;
  padding: 8px;
}
.New_Peoduct .heading_text {
  font-size: 20px;
  color: #1a133b;
  font-family: $font-secondary;
}
.New_Peoduct .heading_text:hover {
  color: $primary_color;
}

.New_Peoduct .iconPart a:nth-last-child(4),
.New_Peoduct .iconPart a:nth-last-child(3),
.New_Peoduct .iconPart a:nth-last-child(2),
.New_Peoduct .iconPart a:nth-last-child(1) {
  transform: translateX(50px);
  transition: all 0.2s linear;
}

.New_Peoduct .iconPart a:nth-last-child(4) {
  transition-delay: 0.15s;
}
.New_Peoduct .iconPart a:nth-last-child(3) {
  transition-delay: 0.25s;
}
.New_Peoduct .iconPart a:nth-last-child(2) {
  transition-delay: 0.35s;
}
.New_Peoduct .iconPart a:nth-last-child(1) {
  transition-delay: 0.45s;
}

.New_Peoduct .wrap:hover .iconPart a:nth-last-child(4),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(3),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(2),
.New_Peoduct .wrap:hover .iconPart a:nth-last-child(1) {
  transform: translateX(0px);
}

.Intro {
  margin-bottom: 100px;
}
.Intro .part_1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.Intro .part_1 h2 {
  font-size: 44px;
  line-height: 54px;
}
.Intro .part_1 p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 11px;
  color: $text-color;
}
.Intro .part_2 .wrap {
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.Intro .part_2 .wrap.bg-color {
  background: #f2f6fae1;
}

.Intro .part_2 .wrap:hover {
  box-shadow: 0px 40px 40px 0px rgba(14, 17, 51, 0.1);
}
.Intro .part_2 .wrap h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.Intro .part_2 .wrap p {
  font-size: 14px;
  margin-bottom: 20px;
  color: $text-color;
}
.Intro .part_2 .wrap a {
  font-size: 20px;
  color: $text-color;
}
.Intro .wrap .my_button {
  position: relative;
}
.Intro .wrap .my_button::after {
  transition: all 0.3s linear;
  width: 0px;
  position: absolute;
  content: "";
  height: 3px;
  background: $primary_color;
  left: 0px;
  bottom: 0;
}
.Intro .wrap .my_button:hover::after {
  width: 82px;
}
.Intro .icon {
  font-size: 80px;
  margin-bottom: 10px;
  color: $primary_color;
}

.InvestBord {
  margin-top: 150px;
}
.InvestBord .part_2 {
  padding-left: 50px;
}
.InvestBord .part_2 .wrap > h2 {
  margin-top: 54px;
  margin-bottom: 15px;
  font-size: 40px;
}
.InvestBord .part_2 .wrap > p {
  font-size: 15px;
  color: $text-color;
  margin-bottom: 10px;
}
.InvestBord .part_2 .wrap {
  font-size: 55px;
}
.InvestBord .part_2 .counting > div {
  margin-right: 40px;
}
.InvestBord .part_2 .counting > div h2 {
  font-size: 40px;
}
.InvestBord .part_2 li {
  margin-bottom: 10px;
}

.Testimonial {
  background: #f4f7fb;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 100px 0;
}
.Testimonial .part_1 h2 {
  font-size: 40px;
}
.Testimonial .part_1 p {
  font-size: 15px;
  padding: 10px 300px;
}
.Testimonial .part_2 {
  margin-top: 60px;
}
.Testimonial .FaQuoteLeft {
  font-size: 70px;
  color: #ddd;
}
.Testimonial .part_2 .wrap p {
  font-size: 15px;
  color: $text-color;
  line-height: 30px;
  text-align: justify;
}
.Testimonial .rec-item-wrapper {
  padding: 0 20px !important;
}
.Testimonial .name {
  font-size: 20px;
  color: $primary_color;
}
.Testimonial .part_2 .imgBar img {
  width: 50px;
  border-radius: 50%;
}
.Contact_Bar {
  background: $primary_color;
  padding: 80px 0;
}
.Contact_Bar h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

// Page info

.PageName {
  background-image: url(/src/Assets/img/page-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;

  span,
  a {
    font-size: 25px;
    font-family: $font-primary !important;
    font-weight: 700;
    color: $text-color;
    &:hover {
      color: $primary_color;
    }
  }
}

// Shop_Page_products

.Shop_Page_products {
  .part_1 {
    // margin-top: 100px;
    h2 {
      font-size: 25px;
      font-weight: 700;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        background: $primary_color;
        position: absolute;
        left: 0;
        bottom: -8px;
      }
    }
    .listCategories {
      margin-top: 30px;
      li {
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
      }
      a {
        font-size: 15px;
        font-weight: 600;
        color: $text-color;
        font-family: $font-primary !important;
        &:hover {
          color: $primary_color;
        }
      }
    }
    .filter {
      margin-top: 50px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background: $primary_color;
          position: absolute;
          left: 0;
          bottom: -8px;
        }
      }
      .items {
        margin-top: 30px;
        li {
          margin: 10px 0;
          border-bottom: 1px solid #ddd;
        }
        a {
          font-size: 15px;
          font-weight: 600;
          color: $text-color;
          font-family: $font-primary !important;
          &:hover {
            color: $primary_color;
          }
        }
      }
    }
    .Product_Tags {
      .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        a {
          font-size: 14px;
          padding: 5px;
          margin: 3px;
          background: #f3f3f3;
          text-align: center;
          &:hover {
            color: $primary_color;
          }
        }
      }
    }
    .top_rated_products {
      .item {
        margin-bottom: 20px;
        .img {
          width: 100px;
          height: auto;
        }
        .textitem {
          margin-left: 15px;
          a {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .part_2 {
    .ShortItems {
      justify-content: space-between;
      p {
        font-size: 16px;
        color: $text-color;
      }
    }
    .dropdown {
      .btn-primary {
        color: $text-color;
        background-color: #fff;
        border: 1px solid #ddd;
        &:focus {
          box-shadow: 0 0 0 0.05rem rgba(119, 119, 119, 0.5);
        }
      }
    }
    .allItem {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .wrap {
        padding: 10px;
        margin-bottom: 30px;
      }
    }
    .iconPart {
      top: 40px;
    }
  }
  .paginationData {
    margin-top: 80px;
    text-align: center;
    a {
      font-size: 18px;
      background: $primary_color;
      margin: 0 5px;
      padding: 5px 15px;
      color: #fff;
      border-radius: 5px;
      border: 2px solid $primary_color;
      &:hover {
        background: #fff;
        color: $text-color;
      }
    }
  }
}

// Cart_Product

.Cart_Product {
  margin-top: 50px;
  table {
    min-width: 100%;
    .ProductName,
    .Price,
    .Quantity,
    .Subtotal,
    .hide_me {
      font-size: 20px;
      font-weight: 500;
      padding: 15px 0;
    }
  }

  .cart-header {
    background: #fff;
    border: 1px solid #ddd;
    th {
      padding: 20px 30px;
    }
  }
  .classBody {
    background: #fff;
    border: 1px solid #ddd;
    .thumb-box {
      display: flex;
      align-items: center;
      img {
        width: 100px;
      }
    }
    td {
      padding: 20px 30px;
      h5 {
        font-size: 16px;
        margin-left: 10px;
      }
      .qtyValue {
        padding: 10px;
        width: 70px;
        text-align: center;
        border: 1px solid #ddd;
      }
      .increaseQty,
      .decreaseQty {
        .icon {
          font-size: 30px;
          padding: 4px;
          margin: 0 10px;
          cursor: pointer;
          &:hover {
            color: $primary_color;
          }
        }
      }
    }
  }
}

.Cart_CouponCode {
  margin-top: 80px;
  margin-bottom: 100px;
  .part_1 {
    input {
      padding: 15px;
    }
  }
  .part_2 {
    margin-top: 15px;
    text-align: end;
  }
  .wrapCartTotal {
    margin-top: 80px;
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
    table {
      margin-top: 30px;
      width: 100%;
      // border: 1px solid #ddd;
      tr {
        border: 1px solid #ddd;
      }
      th {
        padding: 25px;
        font-size: 14px;
        font-weight: normal;
        .form-check {
          padding-bottom: 20px;
          font-weight: 600;
        }
        .form-check-input:checked {
          background-color: $primary_color;
          border-color: $primary_color;
        }
        .text {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .shipText {
          font-weight: 600;
        }
      }
    }
  }
  .wrapCheckOut {
    margin-top: 80px;
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .wrap {
      margin-top: 30px;
      border: 1px solid #ddd;
      padding: 20px;
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .totalPrice {
          font-size: 20px;
          font-weight: 600;
          color: $primary_color;
        }
      }
      hr {
        color: rgb(177, 177, 177);
      }
    }
  }
}

// About Page data

.AboutPageData {
  .CompanyInfo {
    padding: 70px 0;
    background: #f6f6f6;
    margin-top: 100px;
    margin-bottom: 100px;
    .part_1 {
      .imgFile {
        overflow: hidden;
        .img {
          position: relative;
          display: inline-block;
          transition: all 0.3s linear;
          &::after {
            background: rgba(26, 26, 26, 0.466);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
          }
          &:hover {
            transform: scale(105%);
            transition: all 0.3s linear;
            &::after {
              background: rgba(26, 26, 26, 0);
            }
          }
        }
      }
    }
    .part_2 {
      margin-top: 20px;
      // text-align: center;
      .wrap {
        padding: 0 50px;
        h2 {
          font-size: 30px;
          font-weight: 600;
          color: $primary_color;
          display: inline;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            background: $primary_color;
            bottom: -10px;
            left: 0;
            position: absolute;
          }
        }
        h1 {
          margin-top: 35px;
          font-family: $font-secondary;
          font-size: 50px;
        }
      }
      .list {
        margin-top: 20px;
        p {
          padding: 5px 0;
        }
      }
      .BsArrowRightCircleFill {
        color: $primary_color;
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
  .mission {
    background: #222222;
    padding: 120px 0;
    .part_1 {
      margin-top: 25px;
      h2 {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
        display: inline;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background: $primary_color;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
      }
      p {
        color: #fff;
        font-size: 20px;
        line-height: 35px;
        text-align: justify;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    .part_2 {
      .wrap {
        text-align: end;
      }
      .imgFile {
        .img {
          position: relative;
          .imgFile_1 {
            filter: grayscale(100%);
          }
          .text {
            position: absolute;
            left: 1px;
            top: 200px;
            width: 300px;
            background: #fff;
            padding: 30px 20px;
            text-align: start;
            h2 {
              font-size: 30px;
              font-weight: 600;
              position: relative;
            }
            h5 {
              font-size: 20px;
              font-family: $font-secondary;
              color: $primary_color;
              margin-top: 20px;
            }
            p {
              margin-top: -5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.About_OurTeam {
  margin-top: 100px;
  .part_1 {
    text-align: center;
    padding: 0 200px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      position: relative;
      display: inline;
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        background: $primary_color;
        position: absolute;
        left: 0;
        bottom: -8px;
      }
    }
    p {
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .part_2 {
    margin-top: 100px;
    .item {
      text-align: center;
      .imgFile {
        position: relative;

        img {
          border-radius: 50%;
        }
        .icon {
          // with a div
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%);
          z-index: 99;
          overflow: hidden;

          a {
            color: #fff;
            font-size: 25px;
            top: 30px;
            position: relative;
            display: inline-block;
            transition: all 0.1s linear;
            padding: 5px 3px;
          }
        }
        &::after {
          position: absolute;
          background: #22222200;
          content: "";
          left: 0;
          top: 0;
          z-index: 9;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: all 0.3s linear;
        }
        &:hover::after {
          background: #000000c4;
        }
        &:hover {
          .icon a {
            &:nth-child(1) {
              top: 0px;

              transition: all 0.35s linear;
            }
            &:nth-child(2) {
              top: 0px;
              transition: all 0.4s linear;
            }
            &:nth-child(3) {
              top: 0px;
              transition: all 0.5s linear;
            }
            &:nth-child(4) {
              top: 0px;
              transition: all 0.6s linear;
            }
          }
          & a:hover {
            color: $primary_color;
            transform: scale(1.2);
            transition: all 0.1s linear;
          }
        }
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
      }
      p {
        font-size: 15px;
        color: $text-color;
        font-weight: 500;
      }
    }
  }
}

// Counter About Page
.Counter {
  margin-bottom: 100px;
  .wrap {
    text-align: center;
    .icon svg {
      font-size: 150px;
      background: $primary_color;
      padding: 40px;
      border-radius: 50%;
      color: #fff;
      margin-bottom: 30px;
      &:hover {
        color: #000;
      }
    }
    h2 {
      font-size: 30px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $text-color;
    }
  }
}

// BlogData

.BlogData {
  margin-top: 100px;
  .part_1 {
    .wrap {
      margin-bottom: 60px;
    }
    .img {
    }
    .textBody {
      padding: 20px;
      .dateSection {
        display: flex;
        .adminBox,
        .commentSection {
          margin-left: 15px;
        }
        .dateData,
        .adminBox,
        .commentSection {
          .icon {
            font-size: 16px;
            margin: 0 5px;
          }
          .icon {
            font-size: 16px;
            margin: 0 5px;
            color: $primary_color;
          }
          .text {
            font-weight: 500;
          }
        }
      }
    }
    .textFile {
      margin-top: 20px;
      h2 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        text-align: justify;
        margin-bottom: 35px;
      }
    }
  }
  .part_2 {
    .wrap {
      padding-left: 20px;
      .searchBar {
        input {
          padding: 10px;
          border-radius: 10px;
        }
        .input-group-text {
          background: $primary_color;
          cursor: pointer;
        }
        .icon {
          color: #fff;
          font-weight: 600;
          border: 1px solid $primary_color;
        }
      }
      .reacentPost {
        h2 {
          font-size: 25px;
          font-weight: 600;
          margin-top: 50px;
        }
        .item {
          margin-top: 15px;
        }
        a {
          font-size: 15px;
          font-family: $font-primary;
          padding: 15px 0;
          font-weight: 500;
          color: $text-color;
          &:hover {
            color: $primary_color;
          }
        }
      }
      .comments {
        margin-top: 60px;
        h2 {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        p,
        a {
          font-size: 15px;
          margin: 15px 0;
          color: $text-color;
        }
        a,
        .icon {
          font-family: $font-primary;
          font-weight: 600;
          color: $primary_color;
        }
      }
      .archives,
      .Categories,
      .Meta {
        margin-top: 60px;
        h2 {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        li {
          font-size: 15px;
          margin: 20px 0;
        }
        a {
          color: $text-color;
          &:hover {
            color: $primary_color;
          }
        }
      }
      hr {
        height: 2px;
      }
    }
  }
  .pagination {
    margin-bottom: 100px;
    .wrap {
      li {
        display: inline;

        a {
          padding: 8px 16px;
          background: $primary_color;
          margin: 5px;
          border-radius: 5px;
          border: 2px solid $primary_color;
          color: #fff;
          &:hover {
            background: transparent;
            color: #000;
          }
        }
        .active {
          background: transparent;
          color: #000;
        }
      }
    }
  }
}
// SingleBlogData

.SingleBlogData {
  margin-top: 100px;
  .part_1 {
    h2 {
      font-size: 30px;
      font-weight: 600;
      margin: 20px 0;
    }
    h4 {
      font-size: 25px;
      font-weight: 600;
      margin: 20px 0;
    }
  }
  .CommentSection {
    margin-bottom: 150px;
    padding: 0 10px;
    .next_Prev {
      display: flex;
      margin-bottom: 50px;
      justify-content: space-between;
      .icon {
        font-size: 16px;
      }
      a, .icon {
        color: $text-color;
        font-weight: 700;
       
      }
      .next ,.prev{
        &:hover {
          a, .icon{
            color: $primary_color;
          }
        }
      }
    }
  }
  .topReply {
    margin-top: 20px;
    .imgFile {
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .adminBox{
      margin-left: 20px;
      .name{
        font-weight: 600;
      }
    }
    .replyBar{
      a{
        color: $text-color;
        font-family: $font-primary;
        font-weight: 600;
      }
    }
    .text{
      padding: 15px 15px 15px 70px;
      font-size: 15px;
      color: $text-color;
    }
  }
  .adminReply{
    padding: 15px 0px 15px 70px;
  }
  .commentForm{
    margin-top: 40px;
    h2{
      font-size: 20px;
    }
  }
 
}

// Gallery 

.Gallery_Img{
  margin-top: 100px;
  margin-bottom: 100px;
  .model{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.664);
    transition:opacity .4s ease, visibility .4s ease, transform .4s ease-in-out ;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 9999;
    top: 0;
   
  }
  .model.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .tumImg{
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      left: 0;
      transition: all .4s ease;
     
    }
    &:hover::before{
      background: rgba(0, 0, 0, 0.322);
    }
  }
  .wrap{
    margin-bottom: 30px;
  }
  .icon{
    position: absolute;
    right: 82px;
    top: 28px;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    color: $primary_color;
  }
  .myGrid{
    column-count: 3;
  }
}
//   Footer Section
.Footer {
  background: #222222;
  padding: 80px 0;
}
.Footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline;
}
.Footer h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: $primary_color;
  bottom: -5px;
  left: 0;
}
.Footer .text {
  margin-top: 20px;
}
.Footer .text p,
.Footer .text li {
  color: #fff;
  font-size: 13px;
}
.Footer .text .icon {
  font-size: 16px;
  color: $primary_color;
  margin-right: 5px;
}
.footer_Down {
  background: #2c2e2e;
  padding: 18px 0;
  text-align: center;
}
.footer_Down p {
  color: #fff;
}
